<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="Mercadeo.Droid"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/esfera" android:label="@string/app_name"
    android:debuggable="true">
        <activity android:name=".MercadeoDroidActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name=".CameraDroidActivity" android:label="@string/camara_name"
	android:screenOrientation="nosensor"/>
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>